<div class="container-fluid">
    <div class="banner-collection">
        <h1 class="title-collection">
            {{collection.title}}
        </h1>
        <div class="description-collection container">
            {{collection.description}}
            <a href="{{collection.url}}" style="display: inline-block ;">Read more</a>
        </div>
    </div>
</div>

